@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .header__title{
        width: 120px;
        height: 49px;
    }

    .header__monero {

        width: 555px;
        height: 650px;
    }
    .header {

        width: 70%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .choose{
        transform: scale(.7);
    }

    .header__monero {
        width: 455px;
        height: 550px;
        left: 20px;
    }

    .header__subtitle {
        width: 270px;
        height: 47px;
    }

}
.wallets__end{
    display: flex;
    flex-wrap: wrap;
}
.choose__line{
    display: none;
}

@media (max-width: 992px) {
    .container{
        width: 70%;
    }
    .hero{
        display: flex;
        flex-wrap: wrap;





    }

}

@media (max-width: 768px) {
    .container{
        width: 70%;
    }
    .hero__block{
        width: 70%;
    }

}

@media (max-width: 576px) {


}

@media (max-width: 414px) {


}


@media (max-width: 320px) {


}
