* {
  margin: 0;
  padding: 0;
  border: none;
}

ul, ol, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  background: rgba(255, 255, 255, 0.99);
}

#hero .hero__block__2, #hero .hero__block__1 {
  width: 470px;
  height: 693px;
  background: #000000;
  border-radius: 10px;
}

#hero {
  width: 100%;
  height: 205%;
  background: rgba(32, 32, 32, 0.99);
}

#privacy .privacy3__img, #privacy .privacy2__block, #privacy .privacy__img {
  width: 120px;
  height: 120px;
  background: #000000;
  border-radius: 15px;
}

#wallets .wallets__title, #created .created__title, #choose .choose__title__title, #privacy .title, #business .business__main__title, #power .power__main__title, #casual .casual__use__title {
  width: 860px;
  height: 96px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  letter-spacing: -3px;
  color: #000000;
}

#wallets .wallets__end__block__title, #created .created__block__btn__title, #privacy .privacy3__team, #privacy .privacy2__team, #privacy .privacy__team, #casual .casual__min-title__block__title1, #hero .hero__block__2__title, #hero .hero__block__1__title {
  width: 390px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
}

#hero .hero__block__2__subtitle, #hero .hero__block__1__subtitle {
  width: 390px;
  height: 108px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

#wallets .wallets__end__block__subtitle, #created .created__block__btn__subtitle, #business .business__main__p__subtitle1, #power .power__main__p__subtitle1, #casual .casual__min-title__block__subtitle1, #casual .casual__use__subtitle {
  width: 330px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #808080;
}

#created .created__subtitle, #privacy .privacy3__subtitle, #privacy .privacy2__subtitle, #privacy .privacy__subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #808080;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#header {
  margin: 20px 20px;
}
#header .header {
  display: flex;
  justify-content: space-between;
}
#header .header__main {
  margin-left: 190px;
  margin-top: 90px;
  width: 509px;
}
#header .header__title {
  font-family: "CenturyGothic", sans-serif;
  font-size: 56px;
  line-height: 66px;
  color: #000000;
}
#header .header__subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 15px;
  color: #000000;
}
#header .header__p {
  width: 500px;
  height: 140px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -0.458333px;
  color: #808080;
}
#header .header__btn {
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.01) 0%, rgba(0, 0, 0, 0.01) 100%), #FA6800;
  background-blend-mode: hard-light, normal;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 250px;
  height: 37px;
}
#header .header__btn__right {
  float: right;
  margin-left: 10px;
}
#header .header__ol {
  width: 300px;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  line-height: 40px;
  position: absolute;
  top: 550px;
  color: #808080;
}
#header .header__monero {
  float: right;
}

#hero {
  margin-top: 10%;
}
#hero .hero {
  display: flex;
  flex-wrap: wrap;
}
#hero .hero__title {
  margin-top: 160px;
  margin-left: 190px;
}
#hero .hero__title__title {
  width: 690px;
  height: 86px;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 97px;
  letter-spacing: -3.33333px;
}
#hero .hero__title__subtitle {
  margin-top: 30px;
  width: 690px;
  height: 109px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -0.458333px;
  color: #FFFFFF;
}
#hero .hero__block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 190px;
  margin-top: 50px;
  gap: 170px;
}
#hero .hero__block__1__group1 {
  position: relative;
  margin-left: 85px;
  margin-top: 0;
}
#hero .hero__block__1__group3 {
  position: relative;
  margin-left: 85px;
  margin-top: 90px;
  margin-bottom: 140px;
}
#hero .hero__block__1__title {
  margin-left: 50px;
  margin-bottom: 20px;
}
#hero .hero__block__1__subtitle {
  margin-left: 50px;
}
#hero .hero__block__2__group2 {
  position: relative;
  margin-left: 55px;
  margin-top: 40px;
}
#hero .hero__block__2__group4 {
  position: relative;
  margin-left: 135px;
  margin-top: 120px;
  margin-bottom: 40px;
}
#hero .hero__block__2__title {
  margin-left: 50px;
  margin-bottom: 20px;
}
#hero .hero__block__2__subtitle {
  margin-left: 50px;
}

#casual {
  margin-top: 10%;
}
#casual .casual__use {
  margin-left: 190px;
}
#casual .casual__use__title {
  margin-bottom: 50px;
}
#casual .casual__min-title {
  display: flex;
  flex-wrap: wrap;
  margin-left: 590px;
  margin-top: -110px;
}
#casual .casual__min-title__block {
  width: 330px;
  height: 230px;
  margin-left: 60px;
}
#casual .casual__min-title__block__title1 {
  color: black;
}
#power .power__main {
  margin-left: 190px;
}
#power .power__main__title {
  color: black;
}
#power .power__main__subtitle {
  margin-top: 50px;
  width: 330px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
#power .power__main__p {
  margin-left: 460px;
  margin-top: -82px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#business .business__main {
  margin-left: 190px;
}
#business .business__main__title {
  color: black;
}
#business .business__main__subtitle {
  margin-top: 50px;
  width: 330px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
#business .business__main__p {
  margin-left: 460px;
  margin-top: -82px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#privacy {
  margin-left: 190px;
}
#privacy .title {
  color: black;
}
#privacy .privacy {
  width: 500px;
  height: 280px;
  margin-top: 50px;
}
#privacy .privacy__team {
  line-height: 70px;
  color: black;
}
#privacy .privacy__subtitle {
  width: 510px;
  height: 81px;
}
#privacy .privacy2 {
  margin-top: -630px;
  margin-left: 590px;
}
#privacy .privacy2__block {
  width: 310px;
}
#privacy .privacy2__block__img {
  width: 500px;
}
#privacy .privacy2__team {
  line-height: 70px;
  color: black;
}
#privacy .privacy2__subtitle {
  width: 510px;
  height: 81px;
}
#privacy .privacy3 {
  margin-top: 92px;
  margin-left: 590px;
}
#privacy .privacy3__team {
  color: black;
  line-height: 70px;
}
#privacy .privacy3__subtitle {
  width: 510px;
  height: 81px;
}

#choose {
  margin-top: 140px;
  height: 1307px;
  background: rgba(32, 32, 32, 0.99);
}
#choose .choose {
  margin-left: 190px;
}
#choose .choose__title {
  position: absolute;
  margin-top: 90px;
}
#choose .choose__title__title {
  color: #FFFFFF;
}
#choose .choose__title__subtitle {
  margin-top: 40px;
  width: 690px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  color: #FFFFFF;
}
#choose .choose__img {
  margin-top: 370px;
  margin-left: 50px;
  position: center;
}
#choose .choose__line {
  position: absolute;
  left: 53.88%;
  right: 49.43%;
  top: 42.29%;
  height: 900px;
  bottom: 0;
  border: 2px solid #FA6800;
}

#created .created {
  margin-top: 7%;
  margin-left: 190px;
}
#created .created__subtitle {
  margin-top: 100px;
  width: 690px;
}
#created .created__block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
#created .created__block__btn {
  margin-top: 90px;
  width: 418px;
  height: 0;
  top: 300px;
}
#created .created__block__btn__title {
  color: black;
}
#wallets {
  margin-top: 10%;
}
#wallets .wallets {
  display: flex;
  flex-wrap: wrap;
  margin-left: 190px;
}
#wallets .wallets__end {
  display: flex;
  gap: 30px;
}
#wallets .wallets__end__block {
  margin-bottom: 5%;
}
#wallets .wallets__end__block__title {
  color: black;
}
#wallets .wallets__end__block__subtitle {
  width: 330px;
  height: 135px;
}

/*# sourceMappingURL=style.css.map */
