@import "reset";
@import "vairiables";

body {
  @extend %bgbodyColor;
}

.container {
  width: 100%;
  margin: 0 auto;

}

#header {
  margin: 20px 20px;

  &__logo {
  }

  .header {
    display: flex;
    justify-content: space-between;

    &__main {
      margin-left: 190px;
      margin-top: 90px;
      width: 509px;
    }

    &__title {
      font-family: 'CenturyGothic', sans-serif;
      font-size: 56px;
      line-height: 66px;

      color: #000000;
    }

    &__subtitle {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 68px;
      margin-bottom: 15px;
      color: #000000;

    }

    &__p {
      width: 500px;
      height: 140px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;

      letter-spacing: -0.458333px;

      color: #808080;

    }

    &__btn {
      background: linear-gradient(315deg, rgba(255, 255, 255, 0.01) 0%, rgba(0, 0, 0, 0.01) 100%), #FA6800;
      background-blend-mode: hard-light, normal;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      width: 250px;
      height: 37px;

      &__right {
        float: right;
        margin-left: 10px;
      }
    }


    &__ol {
      width: 300px;
      display: flex;
      justify-content: space-around;
      font-size: 22px;
      line-height: 40px;
      position: absolute;
      top: 550px;
      color: #808080;

    }


    &__monero {
      float: right;

    }
  }
}

#hero {
  @extend %block-item;
  margin-top: 10%;

  .hero {

    display: flex;
    flex-wrap: wrap;

    &__title {
      margin-top: 160px;
      margin-left: 190px;

      &__title {

        width: 690px;
        height: 86px;
        color: #FFFFFF;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 97px;
        letter-spacing: -3.33333px;
      }

      &__subtitle {
        margin-top: 30px;
        width: 690px;
        height: 109px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: -0.458333px;
        color: #FFFFFF;

      }
    }

    &__block {
      display: flex;
      flex-wrap: wrap;
      margin-left: 190px;
      margin-top: 50px;
      gap: 170px;

      &__1 {

        @extend %block;

        &__group1 {
          position: relative;
          margin-left: 85px;
          margin-top: 0;

        }

        &__group3 {
          position: relative;
          margin-left: 85px;
          margin-top: 90px;
          margin-bottom: 140px;
        }

        &__title {

          margin-left: 50px;
          margin-bottom: 20px;
          @extend %title__block;
        }

        &__subtitle {

          margin-left: 50px;
          @extend %subtitle__block;
        }
      }

      &__2 {
        @extend %block;

        &__group2 {
          position: relative;
          margin-left: 55px;
          margin-top: 40px;
        }

        &__group4 {
          position: relative;
          margin-left: 135px;
          margin-top: 120px;
          margin-bottom: 40px;
        }

        &__title {
          margin-left: 50px;
          margin-bottom: 20px;
          @extend %title__block;

        }

        &__subtitle {
          margin-left: 50px;
          @extend %subtitle__block;

        }
      }
    }
  }
}


#casual {
  margin-top: 10%;

  .casual {
    &__use {
      margin-left: 190px;

      &__title {
        margin-bottom: 50px;
        @extend %first__title;
      }

      &__subtitle {
        @extend %casual__subtitle;
      }
    }

    &__min-title {
      display: flex;
      flex-wrap: wrap;
      margin-left: 590px;
      margin-top: -110px;

      &__block {
        width: 330px;
        height: 230px;
        margin-left: 60px;

        &__title1 {
          @extend %title__block;
          color: black;
        }

        &__subtitle1 {
          @extend %casual__subtitle;
        }
      }
    }
  }
}


#power {


  .power {
    &__main {
      margin-left: 190px;

      &__title {
        @extend %first__title;
        color: black;
      }

      &__subtitle {
        margin-top: 50px;
        width: 330px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
      }

      &__p {
        margin-left: 460px;
        margin-top: -82px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        &__subtitle1 {

          @extend %casual__subtitle;

        }


      }

    }


  }
}

#business {


  .business {
    &__main {
      margin-left: 190px;

      &__title {
        @extend %first__title;
        color: black;
      }

      &__subtitle {
        margin-top: 50px;
        width: 330px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
      }

      &__p {
        margin-left: 460px;
        margin-top: -82px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        &__subtitle1 {

          @extend %casual__subtitle;

        }


      }

    }


  }
}

#privacy {
  margin-left: 190px;

  .title {
    @extend %first__title;
    color: black;

  }

  .privacy {
    width: 500px;
    height: 280px;
    margin-top: 50px;

    &__img {

      @extend %block1;
    }

    &__team {
      line-height: 70px;

      color: black;
      @extend %title__block
    }

    &__subtitle {
      @extend %Built-in__subtitle;
      width: 510px;
      height: 81px;

    }


  }

  .privacy2 {
    margin-top: -630px;
    margin-left: 590px;

    &__block {
      width: 310px;
      @extend %block1;

      &__img {
        width: 500px;

      }

    }


    &__team {
      line-height: 70px;

      color: black;
      @extend %title__block
    }

    &__subtitle {
      @extend %Built-in__subtitle;
      width: 510px;
      height: 81px;

    }
  }

  .privacy3 {
    margin-top: 92px;
    margin-left: 590px;


    &__img {
      @extend %block1;
    }


    &__team {
      color: black;
      line-height: 70px;
      @extend %title__block
    }

    &__subtitle {
      @extend %Built-in__subtitle;
      width: 510px;
      height: 81px;

    }
  }

}

#choose {
  margin-top: 140px;
  height: 1307px;
  background: rgba(32, 32, 32, 0.99);


  .choose {
    margin-left: 190px;
    &__title{
position: absolute;
      margin-top: 90px;
      &__title {
        @extend %first__title;
        color: #FFFFFF;
      }

      &__subtitle {
margin-top: 40px;
        width: 690px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* or 150% */


        color: #FFFFFF;

      }

    }


    &__img {
      margin-top: 370px;
      margin-left: 50px;
      position: center;
    }

    &__line {
      position: absolute;
      left: 53.88%;
      right: 49.43%;
      top: 42.29%;
      height: 900px;
      bottom: 0;
      border: 2px solid #FA6800;
    }
  }
}

#created {

  .created {
    margin-top: 7%;
    margin-left: 190px;
    &__title {

     @extend %first__title;
    }

    &__subtitle {
      margin-top: 100px;
      width: 690px;
     @extend %Built-in__subtitle
    }

    &__block {
      display: flex;
      flex-wrap: wrap;
      margin-left: 10px;

      &__btn {
        margin-top: 90px;
        width: 418px;
        height: 0;

        top: 300px;

        &__title {
       @extend   %title__block;
          color: black;


        }

        &__subtitle {

         @extend %casual__subtitle
        }


      }


    }

  }
}

#wallets {
  margin-top: 10%;
  .wallets {

    display: flex;
    flex-wrap: wrap;
    margin-left: 190px;

    &__title {
      @extend %first__title;

    }

    &__end {
      display: flex;
      gap: 30px;

      &__block {
        margin-bottom: 5%;

        &__title {
          @extend %title__block;
          color: black;
        }

        &__subtitle {
        @extend %casual__subtitle;
          width: 330px;
          height: 135px;


        }
      }


    }
  }
}




