%bgbodyColor {
  background: rgba(255, 255, 255, 0.99);
}

$bgColor: rgba(32, 32, 32, 0.99);


%bgColor {
  background: rgba(32, 32, 32, 0.99);
}

%block {
  width: 470px;
  height: 693px;
  background: #000000;
  border-radius: 10px;

}

%block-item {
  width: 100%;
  height: 205%;
  background: rgba(32, 32, 32, 0.99);

}

%block1 {
  width: 120px;
  height: 120px;
  background: #000000;
  border-radius: 15px;

}

%first__title {
  width: 860px;
  height: 96px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  letter-spacing: -3px;

  color: #000000;
}

%title__block {
  width: 390px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;

  color: #FFFFFF;
}

%subtitle__block {
  width: 390px;
  height: 108px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF;
}

%casual__subtitle {
  width: 330px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #808080;

}

%Built-in__subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #808080;


}





